.button {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 16px 100px;
    text-decoration: none;
    text-align:center;
    float:
    ;

}
.button:hover {
    background-color: greenyellow;
    outline-color: black;
    color: black;
    
}
.btn-group {
    display:block;
    text-align: center;
}
h1 {
    text-align: center;
}
