.button {
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 24px;
}
.button:hover {
    background-color: greenyellow;
    outline-color: black;
    color: black;
    
}

